name: Astronomer CI - Deploy code

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  ## Set API Token as an environment variable
  ASTRO_API_TOKEN: ${{ secrets.ASTRO_API_TOKEN2 }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Astro
      uses: astronomer/deploy-action@v0.11.0
      with:
        deployment-id: cmhthc6j913m001me8oywvmqq
        deploy-type: image-and-dags
        image-name:  astrocrpublic.azurecr.io/runtime:3.1-4