name: Astronomer CI - Deploy code

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  ## Set API Token as an environment variable
  ASTRO_API_TOKEN: ${{ secrets.ASTRO_API_TOKEN2 }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Astro SaaS Sandbox
      uses: astronomer/deploy-action@v0.11.0
      with:
        deployment-id: ${{ secrets.ASTRO_SANDBOX_DEPLOYMENT_ID }}
        deploy-type: image-and-dags
        image-name: astrocrpublic.azurecr.io/runtime:3.1-4
        cli-version: 1.36.0